:root {
    --lt-green: rgb(41, 173, 41);
    --dk-green: rgb(0, 77, 0);
    --glow-green: rgb(145, 243, 145);
}

/*   SITE-WIDE STYLING   */

body {
    background-color: rgb(252, 253, 245);
    color: var(--dk-green);
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--lt-green);
}

h1 {
    border-bottom: 5px dashed var(--lt-green);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--lt-green);
}

a:link {
    color: var(--lt-green);
}

a:visited {
    color: var(--lt-green);
}

a:hover {
    color: var(--glow-green);
    text-decoration: underline;
}

p,
ul,
ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    padding-left: 0;
}

img {
    width: 500px;
    height: auto;
    border-radius: 50%;
    border-color: var(--lt-green);
    border-width: 0.25em;
    border-style: solid;
    object-fit: cover;
}

/*   HOME PAGE STYLING   */

.home-title {
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

.recipe-grid {
    margin: auto;
    text-align: center;
}

.recipe-link {
    display: inline-block;
    list-style-type: none;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.link-img {
    display: block;
    max-width: 200px;
    height: 150px;
    margin: 0.5em;
}

/*   RECIPE PAGE STYLING   */

.rcp-title,
.rcp-description,
.rcp-ingredients,
.rcp-steps {
    text-align: center;
    margin: 3rem auto;
}

.rcp-img > img {
    display: block;
    margin: auto;
    max-height: 350px;
}

.rcp-description > p {
    max-width: 60ch;
    margin: auto;
}

.rcp-ingredients > ul > li {
    margin: 0.4em auto;
}

.rcp-steps > ol {
    max-width: 70ch;
    margin: auto;
    text-align: justify;
}

ol > li {
    margin: 0.75em auto;
}