body {
    background-color: whitesmoke;
    color: rgb(0, 77, 0);
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(41, 173, 41);
}

h1 {
    border-bottom: 5px dashed rgb(41, 173, 41);
}

p,
ul,
ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 500px;
    height: auto;
    border-radius: 50%;
    border-color: green;
    border-width: 5px;
    border-style: dotted;
}