:root {
    --lt-green: rgb(41, 173, 41);
    --dk-green: rgb(0, 77, 0);
    --glow-green: rgb(145, 243, 145);
}

body {
    background-color: whitesmoke;
    color: var(--dk-green);
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--lt-green);
}

h1 {
    border-bottom: 5px dashed var(--lt-green);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--lt-green);
}

a:link {
    color: var(--lt-green);
}

a:visited {
    color: var(--lt-green);
}

a:hover {
    color: var(--glow-green);
    text-decoration: underline;
}

p,
ul,
ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 500px;
    height: auto;
    border-radius: 50%;
    border-color: green;
    border-width: 5px;
    border-style: dotted;
}

.home-title {
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

.recipe-grid {
    margin: auto;
    text-align: center;
}

.recipe-link {
    display: inline-block;
    list-style-type: none;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
}